.left {
    width: 100%;
    padding-bottom: 100%;

    // .img_group {
    //     display: flex;
    //     flex-wrap: wrap;
    //     margin-left: -12px;
    //     margin-right: -12px;

        
    // }
    .img_item {
        width: 25%;
    }
}